.main-menu-container {
    padding: 50px;
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
}

.fixed-bottom {
    position: fixed;
    width: 100vw;
    z-index: 1;
    background: transparent;
    min-height: 100px;
    bottom: 0;
    left: 0;
}

.main-menu-surface,
.main-menu-bar {
    padding: 20px 0;
}

.main-menu-surface {
    opacity: 0;
    transition: all 400ms;
    background-color: white;
    position: absolute;
    min-width: 100%;
    top: -260px;
    z-index: 100;
}

.menu-open .main-menu-surface {
    opacity: 1;
}

.menu-open .main-menu-bar {
    background-color: white;
}

body.menu-open {
    overflow-y: hidden;
}

.menu-open .site-main {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    transition: all 500ms;
}

.main-menu-bar {
    background-color: transparent;
}

.main-menu-bar .flex-container {
    justify-content: space-between;
}

.nav-column {
    margin-right: 50px;
}

.menu-misc a {
    font-weight: 400;
    text-decoration: none;
}

.search,
.social-menu,
.newsletter p {
    margin-bottom: 20px;
}

.social-menu ul li {
    display: inline-block;
}

.social-menu ul li a {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.language-toggle {
    margin-right: 110px;
}

.btn.shopping-cart {
    position: relative;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}

.cart-counter {
    position: absolute;
    z-index: 3;
    top: -10px;
    background: red;
    border-radius: 50%;
    font-size: 13px;
    padding: 2px 10px;
    left: 90px;
    color: black;
}

.logo {
    position: relative;
    display: block;
}

.logo a {
    display: inline-block;
    text-decoration: none;
}

.logo a:hover {
    cursor: pointer;
}

.logo a:focus {
    outline: none;
}

.logo a img {
    width: 150px;
    height: 45px;
}

.logo:hover .main-menu-surface {
    display: block !important;
}

.page-list {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.page-list li a {
    display: inline-block;
    /* font: 400 2rem/2.8rem 'Lars', Helvetica, Arial, sans-serif; */
}


.newsletter p {
    margin-bottom: 20px;
}


.newsletter>input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 260px;
}

.newsletter .btn-reg {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-left: 10px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid black;
    padding: 4px 8px;
}