/* https://tobiasahlin.com/blog/masonry-with-css/ */

/* Force new columns */
/* .news .flex-container::before,
.news .flex-container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
} */

.news-item {
    width: 520px;
    margin-bottom: 5%;
}

/* Re-order items into 2 rows */
/* .news-item:nth-child(2n+1) {
    order: 1;
}

.news-item:nth-child(2n) {
    order: 2;
} */

.news-date,
.post-title {
    margin-bottom: 40px;
}

.news-thumbnail {
    padding: 0 20px;
}

a.news-read-more {
    display: inline-block;
    margin: 40px 0 20px;
    border-bottom: 1px solid black;
}

a.news-read-more:hover {
    cursor: pointer;
}

/* single php */

.post-container {
    max-width: 770px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.post-container .news-date,
.post-container .news-thumbnail,
.post-container h3 {
    margin-bottom: 40px;
}

.back-to-news {
    background: black;
    color: white;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 22px;
    display: table-cell;
    line-height: 22px;
    font-weight: 100;
    font-family: sans-serif;
    width: 44px;
    height: 44px;
}

.container.single-news {
    padding-top: 50px;
}

.post-container p {
    margin: 20px 0;
}