.text-box {
    margin: 50px;
    border-top: 1px solid #eee;
    padding: 50px;
}

.label-of-sample {
    font-family: sans-serif;
    min-width: 50px;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    background-color: black; 
    color: white;
    font-weight: 600;
}

.large-text {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 3rem;
    /* font: 400 2.1rem/3rem “Lars”, Helvetica, Arial, sans-serif; */
}

p.small-text {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.3rem;
    /* font: 400 1.7rem/2.3rem “Lars”, Helvetica, Arial, sans-serif; */
}

figcaption {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.3rem;
    /* font: 400 1.7rem/2.3rem “Lars”, Helvetica, Arial, sans-serif; */
    text-align: center;
}