.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/bg/bg_de_nieuwe_man_1.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    z-index: -11;
    position: relative;

    &:before {
        content: '';
        display: block;


    }
}

.features .carousel-container {
    width: calc(100%/3);
    position: relative;

    h2 {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 2;
        text-align: center;
        top: 60px;
        color: white;
        text-shadow: 1px 1px 4px #3e3e3e;
    }

    h3.slider-item-title {
        position: absolute;
        z-index: 2;
        bottom: 70px;
        padding-left: 36px;
        // text-shadow: 1px 1px 4px #3e3e3e;
    }

    .owl-carousel .owl-item {
        max-height: 770px;
    }
}