ul.products,
ul.page-numbers {
    list-style: none;
}

.products.flex-container {
    justify-content: space-between;
}

.products .product,
.product-display .product {
    width: 244px;
    margin-bottom: 64px;
}

.related-products .product-display .product {
    margin-left: 32px;
}

.related-products .product-display .product:first-child {
    margin-left: 0;
}

.woocommerce-loop-product__link {
    display: block;
}

.products .product .single-product-author {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.3rem;
}

.woocommerce-loop-product__link h4 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.woocommerce-product-gallery__trigger {
    display: none;
}

h3.single-product-title {
    margin-bottom: 30px;
}

.product_meta {
    margin-top: 100px;
    margin-bottom: 30px;
}

.product_meta .flex-container .col_left,
.product_meta .flex-container .col_right {
    width: 50%;
}

.product_meta .flex-container .col_left {
    margin-right: 54px;
}

.product_meta .block {
    margin-bottom: 40px;
}

.label-header,
.colophon-value {
    display: block;
}


.single-product-author {
    margin-bottom: 36px;
}

.single-product-author,
.woocommerce-product-details__short-description p {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 3rem;
}

.woocommerce-product-gallery__image a,
.woocommerce-product-gallery__image a img {
    display: block;
}

.woocommerce-product-gallery__image a img {
    margin: 0 auto;
}

span.price {
    position: fixed !important;
    left: 40px;
    bottom: 100px;
    font-weight: 600;
}

.related-news h5.post-title {
    margin-bottom: 40px;
}


a.news-read-more {
    display: inline-block;
    margin: 40px 0 20px;
    border-bottom: 1px solid black;
}

a.news-read-more:hover {
    cursor: pointer;
}

.related-news .news-date {
    margin-bottom: 20px;
}