.features .carousel-container {
    width: calc(100%/3);
    position: relative;
    z-index: 0;

    h2 {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 2;
        text-align: center;
        top: 60px;
        color: white;
        // text-shadow: 1px 1px 4px #3e3e3e;
    }

    h3.slider-item-title {
        position: absolute;
        z-index: 2;
        bottom: 70px;
        padding-left: 36px;
        color: white;
        // text-shadow: 1px 1px 4px #3e3e3e;
    }

    .owl-carousel .owl-item {
        max-height: 770px;
    }

    .slider-item-left {
        background-color: black;

        .slider-img {
            opacity: 0%;
        }
    }
}

.featured-books {
    flex-direction: column;
    margin: 80px 36px;

    .products {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .btn.btn-reg {
        display: inline-block;
        align-self: center;
        @include clearButton(100px, 1rem, 3.1rem);
    }
}

.home .latest-news {
    text-align: center;

    .btn {
        display: inline-block;
        align-self: center;
        margin-top: 40px;
        margin-bottom: 160px;
    }
}