.features {
    margin: 0 -16px;

    // Mobile
    @media screen and (max-width: 991px) {
        flex-direction: column;
    }

    .carousel-container {
        position: relative;
        z-index: -1;
        width: calc(100%/3);
        height: 77rem;

        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .is-single-slide .flickity-page-dots {
            display: none;
        }

        .slider-title {
            position: absolute;
            z-index: 10;
            width: 100%;
            margin-top: 4rem;
        }

        .slider-item {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            height: 77rem;
            @media screen and (max-width: 991px) {
                align-items: center;
                width: 100%;
            }
            a {
                position: relative;
                display: block;
                @include smallText;
                text-align: right;
                margin-right: 3.6rem;
                margin-bottom: 8rem;
                z-index: 100;
            }
        }

        .slider-item-meta {
            width: 100%;
            margin-bottom: 3.6rem;
            padding-left: 3.6rem;
            padding-right: 3.6rem;
            z-index: 3;

            h2 {
                text-align: left;
            }
        }

        .slider-img {
            // position: absolute;
            // z-index: 2;
            // height: 77rem;
        }
        .flickity-page-dots {
            bottom: 40px;
            .dot {
                background: $white;
            }
        }
    }
}

// CSS FOR COMING SOON SLIDER
.coming-soon {
    background-color: black;
    color: $white;

    .slider-img {
        opacity: 0%;
    }

}

// CSS FOR NEW RELEASES

.new-releases .slider-item {
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
}

// CSS FOR BACKLIST SLIDER
.backlist .slider-item {
    width: 100%;

    figure {
        padding: 14rem;
        height: 58rem;
        width: auto;
        box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.19), 0 0.4vw 0.8vw rgba(0, 0, 0, 0.23);
    }
}



// Sections
.excerpt-section {
  margin: 8rem auto 16rem;

  &__expand {
    width: 100%;
    text-align: center;

    &-btn {
      width: 22.8rem;
    }
  }
}


// Books Section
.featured-books {
  display: block;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  .book-grid {
    @include grid(12, 1fr, 6.4rem, 3.2rem);

    .book-item-card {
      @media (min-width: 1200px) {
        grid-column: auto / span 2;
      }
      @media (min-width: 1025px) and (max-width: 1199px) {
        grid-column: auto / span 2;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: auto / span 4;
      }
      @media (max-width: 767px) {
        grid-column: auto / span 12;
      }
    }
  }
}
