// styling for all pages and posts goes here...

.page-title {
    display: block;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-bottom: 8rem;
}

.featured-title {
    margin-bottom: 6.4rem;
}

.section-title {
    display: block;
    margin-bottom: 4rem;
    margin-top: 8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

// used in news single
// used in book single
a.go-back {
    display: block;
    position: fixed;
    z-index: 100;
    top: 3.2rem;
    left: 3.2rem;

    svg {
        width: 3.2rem;
        height: 3.2rem;
    }
}
