// styling for all pages and posts goes here...

.featured-title {
    margin-bottom: 6.4rem;
}

.section-title {
    display: block;
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

// FADE IN ON LOAD TO COVER THE STRANGE PAGE BUILD UP.

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity: 0;
  opacity: 1;
  animation-delay: 900ms;
  animation: fadeIn ease-in 1;
  animation-duration: 500ms;
}