// styling for all pages and posts goes here...

.featured-title {
    margin-bottom: 6.4rem;
}

.section-title {
    display: block;
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }
}
