// all styling for news grid
// News grid
.container-xl.single-news {
    margin: 6rem auto;
}

.load-more {
    margin: 30px auto;
    text-align: center;
    .news-preloader {
        width: 100px;
        margin: 0 auto 20px;
        display: block;
    }
    .posts-loaded {
        visibility: hidden;
    }
}

.news-item {
    @media (min-width: 768px) {
        // width: calc(50%);
    }
    @media (max-width: 767px) {
        width: calc(100%);
    }
}

// News archive grid
.news .page-title {
    margin-bottom: 6.4rem;
}

.nav-links {
    text-align: center;
}

.page-numbers {
    margin-right: 30px;
    &.current {
        color: rgba(0, 0, 0, 0.4);
    }
}


/* This should be similiar on all pages that have a page-title */

// News card and excerpt
// News excerpt snippet can be found in 
// inc/templateparts/news-excerpt
div#news-json-grid {
    columns: 400px;
    column-gap: 20px;
    .news-item {
        break-inside: avoid-column;
        margin-bottom: 5rem;
    }
    figure.news-thumbnail {
        text-align: center;
    }
    img.post-thumbnail.news-portrait {
        width: auto !important;
    }
}

.news-grid {
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item {
    text-align: left;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-bottom: 8rem;
}

.news-date {
    @include smallText;
    margin-bottom: 4.8rem;
}

.news-date-excerpt {
    margin-bottom: 3.2rem;
}

.news-title {
    padding: 0 4rem;
    margin-bottom: 6rem;
}

.news-thumbnail {
    padding: 0 2rem;
    margin-bottom: 3.2rem;
}

.news-thumbnail.attachment-is-portrait {
    text-align: center;
    img {
        width: auto !important
    }
}

.news-title-excerpt {
    margin-bottom: 4rem;
}

.news-item-excerpt {
    @include smallText;
    text-align: left;
    margin-bottom: 3.2rem;
}

a.news-read-more {
    @include smallText;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    &:hover {
        cursor: pointer;
        opacity: $hoverOpacity;
    }
}


/* single php */

.container.news-item__single {
    margin: 0 auto;
}

.news-item__single .content-container {
    padding-bottom: 0;
}

.news-item__single .news-thumbnail {
    margin-bottom: 8rem;
}

// NEWS MODULES
// all these modules also have a classname which they share:
// .news-module-container so any common classes can also
// be set on that class.
.news-content__single .news-text {
    max-width: 77rem;
    margin: 2rem auto;
    padding-bottom: 4rem;
    &:first-child {
        // this substracts an additional 2rems to the bottom of 
        // this module. I've left this here in case you wanted to 
        // try out some new spacinds
        margin: 0 auto 0rem auto;
    }
    // all the anchorlinks get an underline
    a {
        @include undelineText;
    }
    // spacing for all the p tags
    p {
        margin-bottom: 2.4rem;
        // but not the last child
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.news-item__single .book-reference {
    margin-bottom: 8rem;
    figure {
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 52.2rem;
        height: auto;
        img {
            filter: grayscale(100%);
            transition: all 400ms ease-in;
            @include boxShadow;
        }
        &:hover {
            img {
                filter: grayscale(0%);
            }
        }
    }
    h5 {
        margin-bottom: 4rem;
    }
}

.video-container {
    margin: 8rem 0;
}

.news-video-caption {
    @include smallText;
    text-align: center;
    margin: 2.4rem 0;
}


/* frontpage php */

// gets styles now from .news-grid