// all styling for News Grid and Single


// News archive grid

.news-grid-masonry {
  @media (min-width: 768px) {
    margin: 0 -1.6rem;
  }
}

.news-item {
    margin-bottom: 8rem;

    @media (min-width: 768px) {
        width: calc(50%);
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    @media (max-width: 767px) {
        width: calc(100%);
    }
}

.news-date {
    margin-bottom: 4.8rem;
}

.news-date-excerpt {
    @include smallText;
    margin-bottom: 3.2rem;
}

.news-title {
  margin-bottom: 6rem;

  @media (min-width: 768px) {
    padding: 0 4rem;
  }
}

.news-thumbnail {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;

  &.is-portrait {
    padding-bottom: 88%;
  }

  &.is-landscape {
    padding-bottom: 61.5%;
  }

  img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.news-title-excerpt {
    margin-bottom: 4rem;
}

.news-item-excerpt {
    @include smallText;
    text-align: left;
}

.news-read-more {
    @include smallText;
    @include underlineText;
    display: inline-block;
    margin-top: 3rem;

    &:hover {
        cursor: pointer;
        opacity: $hoverOpacity;
    }
}

/* single php */

.news-item__single .content-container {
  padding-bottom: 0;
}

.news-item__single .news-thumbnail {
  margin-bottom: 8rem;

  &.is-portrait {
    @media (min-width: 768px) {
      padding-bottom: 60%;
    }

    @media (max-width: 767px) {
      padding-bottom: 100%;
    }
  }

  &.is-landscape {
    @media (min-width: 768px) {
      padding-bottom: 50%;
    }

    @media (max-width: 767px) {
      padding-bottom: 70%;
    }
  }
}



// NEWS MODULES
// all these modules also have a classname which they share:
// .news-module-container so any common classes can also
// be set on that class.

.news-module-container:not(:last-child) {
    margin-bottom: 8rem;
}

.news-content__single .news-text {
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;
    @include largeText;

    // all the anchorlinks get an underline
    a {
        @include underlineText;
    }

    // spacing for all the p tags
    p:not(:last-child) {
        margin-bottom: $largeText-line-height-rem;
    }

    li {
      position: relative;
      padding-left: 3.2rem;

      &::before {
        content: '\25FB';
        font-family: $extras-font;
        position: absolute;
        left: 0;
        width: 3.2rem;
      }
    }
}

.news-item__single .book-reference {
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;

    figure {
    position: relative;
    margin-bottom: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;

    img {
      filter: grayscale(100%);
      transition: filter 100ms ease-in;

      &:hover {
        filter: none;
      }
    }
  }

  h5 {
    margin-bottom: 4rem;
  }
}

.video-container.news-module-container {
  padding-top: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.news-video-caption {
    @include smallText;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 1.2rem;
}
