.large-text p {
    @include largeText;
}

.page-default h2 {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.page-default a {
    @include underlineText;
}

.page-default.grid-container {
  @media (min-width: 768px) {
    @include grid(2, 1fr, 0, 3.2rem);
    p:not(:last-child) {
      margin-bottom: $largeText-line-height-rem;
    }
  }

  @media (max-width: 767px) {
    @include grid(1, 1fr, 0, 0);
    p {
      margin-bottom: $largeText-line-height-rem;
    }
  }
}

.content-block {
    margin-bottom: 8rem;
    @include largeText;

    &:last-child {
        margin-bottom: 0;
    }
}

.nested-list {
  @include largeText;
}

.content-block p:not(:last-child) {
    margin-bottom: $largeText-line-height-rem;
}

.content-block a {
    @include underlineText;
}


.content-block ol:not(:last-child) {
  margin-bottom: $largeText-line-height-rem;
}

.content-block ol>li {
    counter-increment: roman;
    position: relative;
    padding-left: 4rem;

    &::before {
        content: counter(roman, upper-roman) ". ";
        position: absolute;
        left: 0;
        width: 4rem;
    }
}

ul.nested-list {
  margin-top: $largeText-line-height-rem;
  margin-bottom: $largeText-line-height-rem;

  li {
    list-style-type: lower-alpha;
    margin-left: 4rem;
  }
}

ol.table-of-contents {

  li {
    position: relative;
    padding-left: 11.2rem;

    &::before {
      position: absolute;
      left: 0;
      width: 11.2rem;
      white-space: nowrap;
    }
  }

  &__en {
    counter-reset: articles;
    li {
      counter-increment: articles;
      &::before {
        content: "Article " counter(articles) ".";
      }
    }
  }

  &__nl {
    counter-reset: artikelen;
    li {
      counter-increment: artikelen;
      &::before {
        content: "Artikel " counter(artikelen) ".";
      }
    }
  }
}
