// Books Archive (influnces 'Book Archive', Homepage excerpt, 'Related Books')


// book Grid
.book-archive {
.book-grid {
    @include grid(12, 1fr, 0, 3.2rem);

    @media (min-width: 1025px) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    @media (max-width: 1440px) {
      max-width: $l-container-width;
    }

    .book-item-card {
      @media (min-width: 1441px) {
        grid-column: auto / span 2;
      }
      @media (min-width: 1025px) and (max-width: 1440px) {
        grid-column: auto / span 3;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: auto / span 4;
      }
      @media (max-width: 767px) {
        grid-column: auto / span 12;
      }
    }
  }
}


// Book item card
.book-item-card {
  margin-bottom: 6.4rem;

  &__title {
    margin: 3.3rem 0 3.2rem;
  }

  &__author {
    @include smallText;
  }

  &__cover {
    position: relative;
    overflow: hidden;
    border-radius: 3% 1.5% 1.5% 3%;
    @include boxShadow;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 6%;
      opacity: 0.075;
      @include gradientSpine(0, 0, 0, left);
    }
  }
}






/* I think all this can be deleted */


// .woocommerce-product-details__short-description p {
//     font-family: 'Lars', Helvetica, Arial, sans-serif;
//     font-size: 2.1rem;
//     line-height: 3rem;
// }
//
// .woocommerce-product-gallery__image a,
// .woocommerce-product-gallery__image a img {
//     display: block;
// }
//
// .woocommerce-product-gallery__image a img {
//     margin: 0 auto;
// }
//
// span.price {
//     position: fixed !important;
//     left: 40px;
//     bottom: 100px;
//     font-weight: 600;
// }
