// SCSS which Product Single and Overview have in common
// THIS IS WHERE THE PRODUCT CHANGES TEXT COLOR.
// PLEASE DO NOT MESS WITH THIS.
body.single-product.set-text-black {
    color: var(--set-to-black) !important;
    // a,
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // p {
    //     color: var(--set-to-black) !important;
    // }
}

body.single-product.set-text-white {
    color: var(--set-to-white) !important;
    a.go-back svg {
        fill: var(--set-to-white) !important;
    }
    .btn.white-on-black {
        background: #f2f2f2;
        color: $black;
    }
    // a,
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // p {
    //     color: var(--set-to-white) !important;
    // }
}

// book grid
.book-grid {
    margin-left: 0;
    margin-right: 0;
    .book-item {
        @media screen and (min-width: 992px) {
            width: calc(100% / 4 - 3.2rem);
            margin-right: 3.2rem;
            &:nth-child(4n),
            &:last-child {
                margin-right: 0;
            }
        }
        // ipad and higher
        @media screen and (max-width: 991px) and (min-width: 768px) {
            width: calc(33.33% - 3.2rem);
            margin-right: 3.2rem;
            &:nth-child(3),
            &:last-child {
                margin-right: 0;
            }
        }
        // Mobile
        @media screen and (max-width: 767px) {}
        a img {
            @include boxShadow;
        }
    }
}

.label-header,
.colophon-value {
    display: block;
}

.woocommerce-product-details__short-description p {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 3rem;
}

.woocommerce-product-gallery__image a,
.woocommerce-product-gallery__image a img {
    display: block;
}

.woocommerce-product-gallery__image a img {
    margin: 0 auto;
}

span.price {
    position: fixed !important;
    left: 40px;
    bottom: 100px;
    font-weight: 600;
}

.book-grid .book-item-author {
    @include smallText;
}