// AMIR'S CSS — SINGLE BOOK ITEM

.product {
  overflow: hidden;
}

// Slider block
.product .book-slider {
    margin-top: 6rem;
    margin-bottom: 8rem;
}


// Text blocks
.book-item__single {

  p {
    @include largeText;

    &:not(:last-child) {
      margin-bottom: $largeText-line-height-rem;
    }
  }

  .book-item-available {
    margin-bottom: 4.8rem;

    a {
      @include underlineText;
    }
  }

  .book-item-title {
    margin-bottom: 6rem;

    .book-item-subtitle {
      display: block;
    }
  }

  .book-item-author {
    margin-bottom: $largeText-line-height-rem;
  }

  .book-item-description {
    margin-bottom: 8rem;
  }

  // colophon and specs
  // this is found in woocommerce/meta.php
  .book-item-meta {
    margin-bottom: 8rem;
    @include smallText;

    .grid-container {
      @include grid(2, 1fr, 3.2rem, 3.2rem);
    }

    .block:not(:last-child) {
      margin-bottom: $smallText-line-height-rem;
    }
  }
}


// related news block
.related-news {
  max-width: $l-container-width;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}



// related books block
.related-books {
  max-width: $l-container-width;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  .current-tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    li {
      margin-bottom: 1.2rem;

      &:not(:last-child) {
        margin-right: .8rem;
      }
    }
  }

  .book-grid {
    @include grid(4, 1fr, 0, 3.2rem);

      .book-item {
        @media (min-width: 768px) {
          grid-column: auto / span 1;
        }
        @media (max-width: 767px) {
          grid-column: auto / span 2;
        }
      }
    }
}

.book-item a img {
    @include boxShadow;
}
