
.review-order.flex-container {
    flex-direction: column;
}

.woocommerce-form__label-for-checkbox input[type="checkbox"].woocommerce-form__input-checkbox {
    width: 1.3rem;
    min-width: 1.3rem;
    height: 1.3rem;
    border-radius: 30px;
    border: 1px solid black;
}

.woocommerce-ap-custom label {
    display: none;
}



.shop_table .woocommerce-cart-form__cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    padding-bottom: 3.2rem;
    border-bottom: 2px solid $black;

    .product-thumbnail {
        margin-right: 3.2rem;
        flex-basis: 125px;
    }

    .product-thumbnail img {
        width: 12.5rem;
    }

    .quantity input {
        width: 3.2rem;
        border: none;
        outline: none;
        text-align: center;
        background: transparent;
    }

    .quantity input::-webkit-outer-spin-button,
    .quantity input::-webkit-inner-spin-button {
        display: none;
        margin: 0;
    }

    .quantity input.qty {
        appearance: textfield;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    .product-price {
        margin-bottom: 1.2rem;
    }

    .product-remove .label-remove {
        @include smallText;
    }

    .flex-col {
        text-align: right;
        flex: 0 0 13rem;
    }

    .product-quantity {
        margin-left: auto;
        flex: 0 0 12rem;
        text-align: right;
    }
}

.woocommerce-cart-form {
    .cart_totals .shop_table.shop_table_responsive {
        width: 100%;
        border-bottom: 1px solid;
        padding-bottom: 2rem;
    }

    .cart-subtotal {
        display: grid;
        grid-template-columns: 68% 100px 100px;
        grid-gap: 20px;
    }

    .update-cart {
        margin-left: auto;
        flex: 0 0 15.5rem;
    }

    .subtotal-value {
        flex: 0 0 8rem;
        text-align: right;
    }

    .order-total {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .order-total-value {
            text-align: right;
        }
    }

    button.button.update-cart:disabled {
        opacity: 0.6;
    }

    button.button.update-cart {
        background: transparent;
        border: 0;
        @include smallText;
    }

    .coupon {
        display: flex;
        justify-content: flex-start;
        margin-top: 4rem;
    }

    input#coupon_code {
        border-width: 0;
        padding: 10px;
        width: 82%;
    }

    .coupon-apply {
        background: transparent;
        border: 0;
        @include smallText;
    }

    .coupon-help {
        @include microText;
        flex: 0 0 20rem;
        line-height: 1.5;
    }

    .coupon_code_area {
        border-bottom: 1px solid;
        margin-right: 3.2rem;
        width: 40rem;
    }

    .cart-discount {
        display: flex;
        justify-content: space-between;
    }

    .cart-discount>div:nth-child(2) {
        text-align: right;
    }

    a.woocommerce-remove-coupon {
        display: block;
        font: 400 1.7rem/2.3rem 'Lars', Helvetica, Arial, sans-serif;
    }
}

// MAGGIE'S CHANGES

.cart-subtotal {
    padding: 0 10px;
}

.woocommerce-shipping-totals.shipping {
    border-top: 1px solid;
    margin-top: 1.6rem;
}

.tax_label {
    display: none;
}