// SECTION TO REVIEW SUB TOTAL
.review-cart-subtotal {
    margin: 3.6rem 0;
    .cart-subtotal.flex {
        border-top: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        justify-content: space-between;
    }
}

.woocommerce-info .woocommerce-ap-custom.form-title {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 3.6rem);
}

form.woocommerce-checkout {
    margin-top: 3.6rem;
}


// DROPDOWN SELECTION. HAS A STYLE INJECTED SO I WENT ROGUE. SORRY.
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 17px;
    line-height: 23px;
    // color: $black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single {
    height: 50px;
}

.select2-container--default .select2-selection--single { 
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid currentColor;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $black transparent transparent transparent;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 17px;
    line-height: 50px;
    color: $black;
    padding-left: 6px;
    margin: 0;
}
.select2-dropdown {
    border: 1px solid $white; 
    border-radius: 4px;
    .select2-search--dropdown {
        padding: 0;
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-results__options {
    border: 1px solid currentColor;
}

// LOG IN
.woocommerce-checkout-container .woocommerce-form-login {
    width: calc(50% - 3.6rem);
    .flex-container {
        flex-direction: column;
    } 
    .form-row-ap__h {
        display: inline-flex;
        justify-content: space-between;
        padding: 1.3rem;
    }
}
.remember-me {
    margin-top: 1.2rem;
    button {
        font-size: 17px;
    }
}
.woocommerce-checkout-container
.create-account {
    margin-top: 1.3rem;
    font-size: 17px;
    line-height: 23px;
}

.woocommerce-form-login__rememberme {
    input, span { display: inline-block;}
    span {
        @include baseSmallText;
    }
}
.lost_password {
    font-size: 17px;
    padding-left: 0.7rem;
}

// SHIPPING CUSTOM CSS
.woocommerce-shipping-fields {
    margin-top: 3.6rem;
    .woocommerce-form__label-for-radio {
        font-size: 17px;
        padding: 0.7rem 1.3rem;
        border-bottom: 1px solid;
    }
}

.shipping_address {
    display: none;
}

// FIXME
.state_select,
.country_select {
    width: 100%;
    border: none;
    height: 50px;
    padding: 0.7rem 1.3rem;
    border-bottom: 1px solid;
}

.mailchimp-newsletter {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    line-height: 4.8rem;
    label {
        display: inline-block !important;
        transform: unset;
        font-size: 17px;
        margin-left: 0.7rem;
    }
}

.woocommerce-billing-fields
.mailchimp-newsletter {
    padding-left: 1.3rem;
    margin-top: 1.3rem;
}

.woocommerce-account-fields .form-row {
    padding-left: 1.3rem;
}

// REVIEW ORDER TABLE
.woocommerce-ap-custom-checkout-review-order-table {
    font-size: 17px;
    line-height: 23px;
    .cart_item.table-row {
        justify-content: space-between;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }
    .review-order {
        border-top: 1px solid currentColor;
        margin-top: 3.6rem;
    }
    .review-order-row {
        display: flex;
        justify-content: space-between;
        // height: 50px;
        // line-height: 4.8rem;
        border-bottom: 1px solid currentColor;
        padding: 1.3rem 0.7rem;
        &.cart-subtotal {
            
        }
    }
    .shipping-total {
        margin-top: 4rem;
        &-label {
            line-height: 4.8rem;
        }
    }
    .order-total {
        padding: 1.3rem 0.7rem;
    }

    .woocommerce-shipping-totals.shipping {
        li {
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            
            & + li {
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
            label {
                display: inline-flex;
                justify-content: space-between;
                width: calc(100% - 20px);
                margin-left: 0.7rem;
                font-size: 17px;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                align-items: center;
            }
        }
    }
}

// PAYMENT IMAGES 
.woocommerce-checkout-payment {
    margin-top: 4.8rem;
}

.wc_payment_method {
    line-height: 4.8rem;
    border-bottom: 1px solid currentColor;
    padding-left: 1.3rem;
    label {
        font-size: 17px;
        line-height: 23px;
    }
    img {
        display: none;
    }
    .woocommerce-input-wrapper select {
        width: 100%;
        height: 4.8rem;
        padding: 1.3rem;
    }
}

// TERMS AND CONDITIONS

.woocommerce-privacy-policy-text {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 2.4rem;
    margin-top: 4rem;
}
.woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 4rem;
    label {
        display: flex;
        line-height: 23px;
        .woocommerce-terms-and-conditions-checkbox-text {
            margin-left: 0.7rem;
        }
    }
    input {
        margin-top: 5px
    }
}

.back-to-cart {
    font-size: 15px;
    width: 100%;
    text-align: right;
}

//TODO
.demo_store {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    display: inline-block;
    a.woocommerce-store-notice__dismiss-link {
        padding: 10px;
        border-left: 1px solid black;
        margin-left: 10px;
    }
}

