.woocommerce-checkout-review-order-table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    th {
        display: block;
    }
    .cart-subtotal,
    .order-total,
    .shipping-checkout {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid;
        padding: 10px;
        font-size: 16px;
    }
    .cart-subtotal {
        border-top: 2px solid;
    }
    .back-to-cart {
        padding: 10px;
        display: block;
        font-size: 16px;
    }
}

.woocommerce-form-login-toggle .woocommerce-info {
    @include smallText;
    border-bottom: 2px solid;
    padding: 0.5rem 1rem;
}

form.checkout.woocommerce-checkout {
    ul.woocommerce-error {
        font-size: 16px;
        padding-left: 10px;
    }
    .woocommerce-billing-fields label,
    .woocommerce-shipping-fields__field-wrapper label {
        display: none;
    }
    .woocommerce-shipping-fields label {
        font-size: 16px;
        display: block;
    }
    .form-row {
        margin: 10px 0;
    }
    div#customer_details {
        .select2-container--default {
            width: 100%;
            border-bottom: 2px solid !important;
            padding-bottom: 10px;
            font-size: 16px;
        }
        .select2-container--default span.select2-selection {
            border-radius: 0 !important;
            border: 0px !important;
        }
        .radio-toggle {
            text-align: left;
        }
        .radio-toggle .woocommerce-form__label {
            margin-bottom: 0px;
        }
        input#ship-to-different-address-checkbox {
            height: 0;
        }
        .shipping_address {
            margin-top: -20px;
        }
        h3#ship-to-different-address,
        #artez-payment,
        #artez-delivery {
            border-bottom: 2px solid;
            font-size: 16px;
            text-align: left;
        }
        .radio-toggle {
            padding: 0px 0 10px;
        }
        .radio-toggle>label,
        li.wc_payment_method {
            line-height: 3;
            border-bottom: 2px solid;
            padding-left: 10px;
        }
        .payment_box {
            font-size: 16px;
            line-height: 1.4;
            padding-left: 30px;
            color: #333;
            padding-bottom: 20px;
        }
        .woocommerce-terms-and-conditions-checkbox-text,
        .woocommerce-privacy-policy-text {
            @include smallText;
            padding-bottom: 2rem;
        }
        ul#shipping_method {
            margin-bottom: 1.8rem;
        }
        ul#shipping_method>li {
            display: flex;
            margin-top: 2rem;
            line-height: 0.9;
        }
        ul#shipping_method>li input {
            margin-right: 10px;
        }
        ul#shipping_method>li>label {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

//login form
.woocommerce-form-login .form-row-ap {
    width: 50%;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
    padding-right: 3.2rem;
    padding-right: 4rem;
}

.lost_password {
    margin-bottom: 2rem;
    margin-left: 1rem;
    a {
        @include microText;
        color: #767676;
    }
}