// SHARED STYLING FOR CART AND CHECKOUT (MAYBE ALSO MINI CART?)

.woocommerce {
    .btn.black-on-white {
        font-size: 17px;
        line-height: 23px;
    }
}
.woocommerce select,
.woocommerce input[type="radio"]
.woocommerce input[type=datetime],
.woocommerce input[type=datetime-local],
.woocommerce input[type=date],
.woocommerce input[type=month],
.woocommerce input[type=time],  
.woocommerce input[type=week],
.woocommerce input[type=number],
.woocommerce input[type=url],
.woocommerce input[type=tel],
.woocommerce input[type=email],
.woocommerce input[type=search],
.woocommerce input[type=tel],
.woocommerce input[type=color],
.woocommerce input[type=file],
.woocommerce input[type=text],
.woocommerce input[type=password],
.woocommerce textarea {
    order: 0;
    width: 100%;    
    height: 4.8rem;
    font-size: 17px;
    padding: 0;
    border-bottom: none;
    padding: 0 0.7rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include baseSmallText;
}
::-moz-placeholder { /* Firefox 19+ */
  @include baseSmallText;
}
:-ms-input-placeholder { /* IE 10+ */
  @include baseSmallText;
}
:-moz-placeholder { /* Firefox 18- */
  @include baseSmallText;
}

.woocommerce-form__label-for-checkbox {
    @include baseSmallText;
    line-height: 4.8rem;
    padding: 0 1rem;
}
.woocommerce-form__label-for-radio {
    @include baseSmallText;
    line-height: 4.8rem;
    padding: 0 1rem;
    border-bottom: 1px solid;
}

.form-row {
    width: 100%;
    border-bottom: 1px solid currentColor;
    span.woocommerce-input-wrapper {
        display: block;
        @include baseSmallText;
    }
    // turn off all labels
    label {
        display: none;
    }
}


.woocommerce-notices-wrapper {
    display: flex;
    justify-content: center;

    .woocommerce-message {
        padding: 0 9.3rem;
        line-height: 4.6rem;
        background-color: $black;
        color: $white;
        min-width: 50rem;
        text-align: center;
        @include underlineText;
    }
    .woocommerce-error {
        color: red;
    }
}

.woocommerce-ap-custom.form-title {
    @include largeText;
}




// ROWS -> THESE ARE THE ROWS IN THE CHECKOUT FIELD
// THEY ARE <p> Tags


// TITLES AND TEKST (TYPOGRAPHY)
.woocommerce-ap-custom.form-title {
    font-size: 21px;
    line-height: 30px;
    transform: unset;
    padding-top: 1px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid;
    padding: 1rem;
}

.ap-icon-times {
    display: inline-block;
    font-size: 1.4rem;
}