// SHARED STYLING FOR CART AND CHECKOUT (MAYBE ALSO MINI CART?)

.woocommerce {
    .btn.black-on-white {
        font-size: 17px;
        line-height: 23px;
    }
}

.woocommerce-notices-wrapper {
    display: flex;
    justify-content: center;

    .woocommerce-message {
        padding: 0 9.3rem;
        line-height: 4.6rem;
        background-color: $black;
        color: $white;
        min-width: 50rem;
        text-align: center;
        @include underlineText;
    }
    .woocommerce-error {
        color: red;
    }
}

// STRUCTURE OR GRID

.flex.woocommerce-checkout-container {
    justify-content: space-between;
    .col_left,
    .col_right {
        width: calc(50% - 3.6rem);
    }
}

.item-row {
    width: 100%;
    margin-left: 10px;
    line-height: 4.8rem;
}


// ROWS -> THESE ARE THE ROWS IN THE CHECKOUT FIELD
// THEY ARE <p> Tags
.woocommerce-billing-fields .form-row {
    width: 100%;
    // mixin fucks up the heights for the inputs so I just put in there
    font-size: unset;
    line-height: 1;
    transform: translateY(0);
    font-size: 17px;
    // line-height: 23px;
    // turn off all labels
    label {
        display: none;
    }
    input {
        padding: 1.3rem 1.3rem;
    }
}
.woocommerce-form__label-text {
    font-size: 17px;
    line-height: 23px;
}
// TITLES AND TEKST (TYPOGRAPHY)
.woocommerce-ap-custom.form-title {
    font-size: 21px;
    line-height: 30px;
    transform: unset;
    padding-top: 1px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid;
    padding: 1rem;
}

.ap-icon-times {
    display: inline-block;
    font-size: 1.4rem;
}

// INPUT STYLING!

.woocommerce input[type=datetime],
.woocommerce input[type=datetime-local],
.woocommerce input[type=date],
.woocommerce input[type=month],
.woocommerce input[type=time],
.woocommerce input[type=week],
.woocommerce input[type=number],
.woocommerce input[type=url],
.woocommerce input[type=tel],
.woocommerce input[type=email],
.woocommerce input[type=search],
.woocommerce input[type=tel],
.woocommerce input[type=color],
.woocommerce input[type=file],
.woocommerce input[type=text],
.woocommerce input[type=password],
.woocommerce textarea {
    order: 0;
    width: 100%;
    border-bottom: 1px solid currentColor;
}

.woocommerce-input-wrapper {
    display: block;
}

// SHIM
// HACK
#billing_first_name_field {
    padding-top: 10px;
}

// AMIR //
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include baseSmallText;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: $default-font;
  @include smallText;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: $default-font;
  @include smallText;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: $default-font;
  @include smallText;
}


.woocommerce-form__label-for-checkbox:not(.woocommerce-form-login__rememberme) {
    span {
        // @include smallText;
    }

}
