.search-bar {
  z-index: 1;
  padding-top: 6rem;
  background-color: $white;
}


.main-search {
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;

  input[type=search] {
    border: none !important;
    flex: 1 auto;
    padding-bottom: 3px;
    &::placeholder {
      pointer-events: none;
      font-family: $extended-font;
      text-align: center;
      color: $black;
      font-size: 3.5rem;
      line-height: 4.8rem;
    }
  }

  button {
    appearance: none;
    background: none;
    border: none;
  }

  svg {
    width: auto;
    height: auto;
  }
}

.filter-header {
    display: inline-block;
    margin-right: 3.6rem;
    opacity: 0.6;
    transition: opacity 0.2s ease-in;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &.active {
        opacity: 1;
    }
}

.filter-list {
    display: none;
    overflow: hidden;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
    will-change: transform;
    align-items: flex-start;
    white-space: nowrap;
    width: 100%;
}
.filter-tags__inner {
    line-height: 40px;
}

.hidden-filter-authors {
  display: none;
}

.tag-pill {
    margin-right: .8rem;
    &.active {
      background: black;
      color: white;
    }
}


// Structure


// .sidebar-filters {
//   padding-right: 6.4rem;

//   @media (min-width: 1025px) {
//     grid-column: 1 / span 1;
//   }

//   @media (min-width: 768px) and (max-width: 1024px) {
//     grid-column: 2 / span 1;
//     grid-row: 2;
//   }

//   @media (max-width: 767px) {
//     grid-column: 2 / span 1;
//     grid-row: 2;
//   }
// }

// .search-and-tags {
//   grid-column: 2 / span 1;
// }

// end of Structure




.site-main.products {
  margin-top: 29.3rem;
}

.filter-tags {
  margin-top: 2rem;
  margin-bottom: 6rem;
  position: relative;
  &__item {
    margin-right: .8rem;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &::before,
    &::after {
      height: 100%;
      width: 50px;
      content: "";
      pointer-events: none;
    }

    button {
      background: white;
      border: none;
      height: 100%;
    }
  }

  &__prev {
    left: 0;
    display: none;

    &::before {
      content: none;
    }

    &::after {
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0.98) 20%,
          rgba(255, 255, 255, 0) 80%);
    }

    button {
      transform: rotate(180deg);
    }
  }

  &__next {
    right: -1em;

    &::after {
      content: none;
    }

    &::before {
      background: linear-gradient(to left,
          rgba(255, 255, 255, 0.98) 20%,
          rgba(255, 255, 255, 0) 80%);
    }
  }
}

.js-hide-onscroll {
  z-index: 1;
  top: 0rem;
  background: white;
  transition: all 0.3s ease-in;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.shown {
    opacity: 1;
    visibility: visible;
  }
}

.js-show-onscroll {
  transition: all 0.3s ease-in;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.shown {
    opacity: 1;
    visibility: visible;
  }
}

.fixed-search-toggle {
  position: absolute;
  display: flex;
  opacity: 0;
  cursor: pointer;

  svg {
    margin-right: 10px;
    width: auto;
    height: auto;
  }
}
