// CSS FROM AMIR

// slider conatiner
.wcfg-primary-gallery .flickity-viewport {
  overflow: visible;
}

// slider structure
.flickity-slider {
  .carousel-cell {
    width: 100%;
    max-width: calc((90vh - 16rem) * var(--var-aspect-ratio));
    @include boxShadowLarge;

    img {
      object-fit: fill;
    }
  }
}

// matt + glossy paper overlay
.book-slider .carousel-cell {

  &:first-child {
    .book-overlay {
      display: none;
    }
  }

  &:not(:first-child) {

    .book-overlay__left {
      position: absolute;
      top: 0;
      right: 50%;
      height: 100%;
      width: 6vw;
      opacity: .175;
      mix-blend-mode: multiply;
      @include gradientSpine(0, 0, 0, right);
    }

    .book-overlay__right {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 8vw;
      opacity: .25;
      mix-blend-mode: multiply;
      @include gradientSpine(0, 0, 0, left);
    }
  }
}

// glossy paper extra shin
.book-slider.glossy-paper .carousel-cell {

  &:not(:first-child) {

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(50% + 1.5vw);
      transform: translateY(-50%);
      height: 100%;
      width: 2vw;
      border-radius: 100%;
      background-image: radial-gradient(ellipse at center, $white, transparent);
      opacity: .5;
      filter: blur(1vw);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(50% + 1.5vw);
      transform: translateY(-50%);
      height: 100%;
      width: 2vw;
      border-radius: 100%;
      background-image: radial-gradient(ellipse at center, $white, transparent);
      opacity: .5;
      filter: blur(1vw);
    }
  }
}

// clickable areas

.book-slider .flickity-prev-next-button {
  position: absolute;
  top: 0;
  width: calc(50% + 1.6rem);
  height: 100%;
  padding: 0;
  opacity: 0;
  background: transparent;
  border: none;

  &:active,
  &:hover {
    opacity: 0;
    background: transparent;
  }

  &.previous {
    left: -1.6rem;
    &:not(:disabled) {
      cursor: url(../../assets/icons/slide_prev.svg) 16 16, pointer;
    }
  }
  &.next {
    right: -1.6rem;
    &:not(:disabled) {
      cursor: url(../../assets/icons/slide_next.svg) 16 16, pointer;
    }
  }

  svg {
    display: none;
  }
}
