// CSS FROM AMIR

// slider conatiner
.wcfg-primary-gallery .flickity-viewport {
  overflow: visible;
}

// slider structure
.flickity-slider {
  .carousel-cell {
    width: 100%;
    max-width: calc((90vh - 16rem) * var(--var-aspect-ratio));
    @include boxShadowLarge;

    img {
      object-fit: fill;
    }
  }
}

// matt + glossy paper overlay
.book-slider .carousel-cell {

  &:first-child {
    .book-overlay {
      display: none;
    }
  }

  &:not(:first-child) {

    .book-overlay__left {
      position: absolute;
      top: 0;
      right: 50%;
      height: 100%;
      width: 7.5vw;
      opacity: .1;
      mix-blend-mode: multiply;
      @include gradient(0, 0, 0, right);
    }

    .book-overlay__right {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 10vw;
      opacity: .2;
      mix-blend-mode: multiply;
      @include gradient(0, 0, 0, left);
    }
  }
}

// glossy paper extra shin
.book-slider.glossy-paper .carousel-cell {

  &:not(:first-child) {

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(50% + 1.5vw);
      transform: translateY(-50%);
      height: 100%;
      width: 2vw;
      border-radius: 100%;
      background-image: radial-gradient(ellipse at center, $white, transparent);
      opacity: .5;
      filter: blur(1vw);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(50% + 1.5vw);
      transform: translateY(-50%);
      height: 100%;
      width: 2vw;
      border-radius: 100%;
      background-image: radial-gradient(ellipse at center, $white, transparent);
      opacity: .5;
      filter: blur(1vw);
    }
  }
}

// clickable areas

.carousel-button {
    position: absolute;
    top: 0;
    width: calc(50% + 1.6rem);
    height: 100%;
    z-index: 1;
    opacity: 0;

    &__prev {
      left: -1.6rem;
    }
    &__next {
      right: -1.6rem;
    }
}
