.woocommerce-mini-cart.cart_list {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}

.mini-cart-counter {
    margin-bottom: 50px;
}


.remove_from_cart_button,
.quantity {
    display: inline-block !important;
}

.quantity {
    margin-left: 10px;
    line-height: 1.6;
    vertical-align: top;
}

a.remove::before {
    display: inline-block;
    content: 'x';
    font-family: 'Lars', Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 200;
}
