.woocommerce-mini-cart.cart-list {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}

.mini-cart-counter {
    margin-bottom: 2.8rem;
}

.mini_cart_item {
    display: flex;

    a.remove {
      height: auto;
      width: 2rem;
      line-height: 2.8rem;
    }

    .quantity {
        display: flex;
        margin-left: 1rem;
        width: 100%;

        span.mc-product-quantity {
            margin-left: 1.6rem;
        }

        span.mc-product-total {
            align-self: flex-end;
            margin-left: auto;
            text-align: right;
        }
    }

    a.remove::before {
        display: inline-block;
        content: '×';
        color: $black;
        @include menuText;
    }
}

.woocommerce-mini-cart {
  margin-bottom: 2.8rem;
}

hr.mini-divider {
    display: block;
    float: right;
    width: 8rem;
    margin: 0 0 2.8rem 0;
    border: $thinBorder;
}

p.woocommerce-mini-cart__total.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
