.woocommerce-mini-cart.cart-list {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}

.mini-cart-counter {
    margin-bottom: $menuText-line-height-rem;
}

.mini_cart_item {
    display: flex;

    a.remove {
      line-height: $menuText-line-height-rem;
      height: auto;
      width: 2rem;

      &::before {
        content: '×';
        display: inline-block;
        color: $black;
        font-family: $extras-font;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }

    .quantity {
        display: flex;
        margin-left: 1rem;
        width: 100%;

        span.mc-product-name {
            margin-right: 3.2rem;
        }

        span.mc-product-quantity {
            margin-left: 1.6rem;
        }

        span.mc-product-total {
            align-self: flex-end;
            margin-left: auto;
            text-align: right;
        }
    }
}

.woocommerce-mini-cart {
  margin-bottom: calc(#{$menuText-line-height-rem} - 1px);
}

hr.mini-divider {
    display: block;
    float: right;
    width: 8rem;
    margin: 0 0 calc(#{$menuText-line-height-rem} - 1px) 0;
    border: $thinBorder;
}

p.woocommerce-mini-cart__total.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .tax_label {
        display: none;
    }
}
