// SCSS which Product Single and Overview have in common
// .book-item-author {
//     @include smallText;
// }
.label-header,
.colophon-value {
    display: block;
}

.woocommerce-product-details__short-description p {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 3rem;
}

.woocommerce-product-gallery__image a,
.woocommerce-product-gallery__image a img {
    display: block;
}

.woocommerce-product-gallery__image a img {
    margin: 0 auto;
}

span.price {
    position: fixed !important;
    left: 40px;
    bottom: 100px;
    font-weight: 600;
}