// Any css that is different from product.scss on the product overview page
// can go here

ul.products,
ul.page-numbers {
    list-style: none;
}

.product-display {
    flex-wrap: wrap;
}

.products .product,
.product-display .product {
    margin-bottom: 6.4rem;

    &:last-child {
        margin-left: 0;
    }

    // ipad and higher
    @media screen and (max-width: 991px) and (min-width: 768px) {
        width: calc(33% - 3.2rem);
        margin-right: 3.2rem;
    }

    // Mobile
    @media screen and (max-width: 767px) {}
}



.related-products .product-display .product {
    margin-left: 3.2rem;
}

.related-products .product-display .product:first-child {
    margin-left: 0;
}

.woocommerce-loop-product__link {
    display: block;
}

.products .product .single-product-author {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.3rem;
}

.woocommerce-loop-product__link h4 {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.woocommerce-product-gallery__trigger {
    display: none;
}

.products {
    &__not-found {
        flex: 1 100%;
        text-align: center;
    }
}