.accordion-toggle {
    font-family: $default-font;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.ui-accordion {
    p {
        display: block;
        margin-left: 36px;
    }
}

.accordion-toggle:hover {
    background-color: #ffffff;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;

}