.accordion-container {
  @include largeText;
}

.accordion-container:not(:last-child) {
  margin-bottom: 8rem;
}

.accordion-content-container {
    overflow: auto;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
}

.accordion-toggle {
    @include largeText;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.1s ease-in;

    p {
        text-align: left;
        position: relative;
        padding-left: 3rem;
    }

    .icons {
        position: absolute;
        left: 0;
        width: 1.7rem;
        height: 3rem;
        margin-right: 1.6rem;
        content: url(../../assets/icons/plus.svg);
    }
}

.accordion-toggle.active {
    padding-bottom: 32px;

    .icons {
        content: url(../../assets/icons/minus.svg);
    }
}

.panel {
    background-color: transparent;
    overflow: auto;
    height: 0;
    will-change: height, margin-bottom;

    p {
        padding-left: 3.2rem;
        margin: 3rem 0;
        transform: none;

        a {
          @include underlineText;
        }
    }
}

.panel.open {
    border-top: $thinBorder;
    border-bottom: $thinBorder;
    margin-bottom: 1.6rem;
    transition: height 0.2s ease-in,
                margin-bottom 0.1s ease-in;
}
