.accordion-container {
  @include largeText;
}

.accordion-container:not(:last-child) {
  margin-bottom: 8rem;
}

.accordion-toggle {
    font: inherit;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    p {
        text-align: left;
        position: relative;
        padding-left: 3rem;
    }

    .icons {
        position: absolute;
        left: 0;
        width: 1.7rem;
        height: $largeText-line-height-rem;
        margin-right: 1.6rem;
        content: url(../../assets/icons/plus.svg);
    }
}

.accordion-toggle.active {
    .icons {
        content: url(../../assets/icons/minus.svg);
    }
}

.panel {
    background-color: transparent;
    overflow: auto;
    height: 0;
    will-change: height, margin-bottom;

    p {
        margin: $largeText-line-height-rem 0;
        transform: none;

        a {
          @include underlineText;
        }
    }
}

.panel.open {
    border-top: $thinBorder;
    border-bottom: $thinBorder;
    margin-top: $largeText-line-height-rem;
    margin-bottom: $largeText-line-height-rem;
    margin-left: $largeText-line-height-rem;
}
