.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.btn.white-on-black {
  @include darkButton(100px, .2rem, 3.1rem);
}

.btn.black-on-white {
  @include clearButton(100px, .2rem, 3.1rem);

  &:hover {
    border: 2px solid #fff;
    background-color: #000;
    color: white;
  }
}

.cart-counter {
  position: absolute;
  z-index: 3;
  top: -10px;
  background: red;
  border-radius: 50%;
  font-size: 13px;
  padding: 0px 11px;
  left: 90px;
  color: black;
}