// BUTTONS

// Reset
button {
  padding: 0;
  background: 0 0;
  border: none;
}


.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.white-on-black {
  @media (min-width: 768px) {
    @include solidButton(100px, .4rem, 2.4rem);
  }
  @media (max-width: 767px) {
    @include solidButton(100px, .4rem, 1.6rem);
  }
}

.black-on-white {
  @include clearButton(100px, .4rem, 1.6rem);
}

.tag-pill {
  @include baseSmallText;

  &.active {
    background: $black;
    color: $white;
    border-color: $black;
  }
}

.cart-btn {
  text-align: center;

  @media (min-width: 768px) {
    min-width: 10.8rem;
  }
  @media (max-width: 767px) {
    min-width: 8rem;
  }
}

button.btn {
  font-family: $default-font;
}

span.btn:hover {
  cursor: not-allowed;
}


// Homepage excerpt expand buttons

.excerpt-section__expand-btn {
  @include baseMenuText;
  text-align: center;
  width: 22.8rem;
}



// Price Buttons

.block-price {

  .single_add_to_cart_button {
    .edition-language {
      margin-right: .8rem;
    }
    .price {
      display: inline-block;
    }
  }

  .d-block,
  form.cart {
    &:not(:first-child) {
      margin-top: .8rem;
    }
  }
}

.cart-counter {
  position: absolute;
  top: -1rem;
  right: -.8rem;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  color: $black;
  background-color: $red;
  z-index: 3;

  @media (max-width: 360px) {
    transform: scale(.9);
  }
}

// Go Back Button
// used in news single
// used in book single
.go-back {
  display: block;
  position: fixed;
  z-index: 1;

  @media (min-width: 1025px) {
    top: 3.2rem;
    left: 3.2rem;
  }
  @media (max-width: 1024px) {
    top: 1.6rem;
    left: 1.6rem;
  }

  svg {
    @media (min-width: 1025px) {
      width: 3.6rem;
      height: 3.6rem;
    }
    @media (max-width: 1024px) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}


// Close Mobile Menu Button
.mobile-menu-close {
  position: fixed;
  top: 3.6rem;
  right: 1.6rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
