:root {
    --set-to-black: #000;
    --set-to-white: #f2f2f2;
}

blockquote::before,
blockquote::after {
    content: "";
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    position: relative;
    z-index: 0;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-feature-settings: "kern"on, "kern", "ss01";
    letter-spacing: 0.02rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    ;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* i don't know if this will work on every page,
    but it's here because of the fixed bottom causing a z-index overlap.
    It's not possible to click on anything underneath it. */
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    transition: all 500ms;
}

header {}

main {}

section {}

aside {}

footer {}

ul {}

ol {}

li {}

ul li a {
    display: inline-block;
}

em {
    font-style: italic;
}


input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=url],
input[type=tel],
input[type=email],
input[type=search],
input[type=tel],
input[type=color],
input[type=file],
input[type=text],
input[type=password],
textarea {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    @include smallText;
    height: 45px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: $border;
}

input::placeholder {
    @include smallText;
}