// Sometimes it's hard to be a puritan on a budget

.d-block,
.show {
  display: block !important;
}

.hide,
.d-none {
  display: none !important;
}

ul.d-h,
ul.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal-list li {
  display: inline-block;
}

.d-h.flex-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.d-h .col-1 {
  width: 60px;
  margin-right: 32px;
}

.d-h .col-2 {
  width: 152px;
  margin-right: 32px;
}

.d-h .col-3 {
  width: 244px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.wrapper-element {}

.ta-center {
  text-align: center;
}