
/*************************
*
* MEDIA
*
*************************/



svg,
img,
embed,
object {
    display: block;
    height: auto;
    max-width: 100%;
}

svg,
img {
  // max-width: 100%;
  // height: auto;
}

img {}

svg {}


figure {
    display: block;
    margin: 0;
}

video {
    display: block;
}

iframe {
    display: block;
    max-width: 100%;
}
