// MIXINS

// Grids

@mixin grid($cols, $fr, $rgap, $cgap) {
  display: grid;
  grid-template-columns: repeat($cols, $fr);
  grid-row-gap: $rgap;
  grid-column-gap: $cgap;
}


// Typography

@mixin largeText {
  @include Lars(2.1, 3);
  font-family: 'Lars', Helvetica, Arial, sans-serif;
  font-weight: 400;
  // font-size: 2.1rem;
  // line-height: 3rem;
}

@mixin menuText {
  @include Lars(2, 2.8);
  font-family: 'Lars', Helvetica, Arial, sans-serif;
  font-weight: 400;
  // font-size: 2rem;
  // line-height: 2.8rem;
}

@mixin smallText {
  @include Lars(1.7, 2.3);
  font-family: 'Lars', Helvetica, Arial, sans-serif;
  font-weight: 400;
  // font-size: 1.7rem;
  // line-height: 2.3rem;
}

@mixin microText {
  @include Lars(1.4, 2.3);
  font-family: 'Lars', Helvetica, Arial, sans-serif;
  font-weight: 400;
  // font-size: 1.4rem;
  // line-height: 2.3rem;
}


// Underline

@mixin underlineText {
  background-image: linear-gradient(to bottom, currentColor 50%, transparent 50%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 2px 1em;
}

@mixin boxShadow {
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.19), 0 0.4vw 0.8vw rgba(0, 0, 0, 0.23);
}

// Buttons

@mixin clearButton($rad, $padH, $padW) {
  background: transparent;
  border: $border;
  border-radius: $rad;
  text-decoration: none;
  padding: $padH $padW;

  &:hover {
    opacity: $hoverOpacity;
  }
}

@mixin darkButton($rad, $padH, $padW) {
  background: $black;
  border: 2px solid $black;
  border-radius: $rad;
  text-decoration: none;
  padding: $padH $padW;
  color: $white;

  &:hover {
    opacity: $hoverOpacity;
  }
}
