// Typography
// This is where you will control all the basic typography.
// You will find some stuff in reset scss too.
// If there are custom rules, I've put those css rules with the element/module/block where 
// the custom rule applies.

@font-face {
    font-family: 'Lars';
    src: url("../../assets/fonts/Lars-Regular.otf") format("opentype"),
        url("../../assets/fonts/Lars-RegularWeb.woff") format("woff"),
        url("../../assets/fonts/Lars-RegularWeb.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lars';
    src: url('../../assets/fonts/Lars-RegularItalic.otf') format('opentype'),
        url('../../assets/fonts/Lars-RegularItalicWeb.woff') format('woff'),
        url('../../assets/fonts/Lars-RegularItalicWeb.woff') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'LarsExtended';
    src: url("../../assets/fonts/Lars-MediumExtended.otf") format("opentype"),
        url("../../assets/fonts/Lars-MediumExtendedWeb.woff") format("woff"),
        url("../../assets/fonts/Lars-MediumExtendedWeb.woff2") format("woff2");
    font-weight: 500;
    font-style: bold;
}


/*************************
*
* TYPOGRAPHY
*
*************************/

h1,
h2,
h3,
h4,
h5,
h6 {}

h1,
.h1 {
    font-family: "LarsExtended";
    font-size: 14rem;
    line-height: 14rem;
    font-weight: 500;
    /* font: 500 14rem/14rem “LarsExtended”, Helvetica, Arial, sans-serif; */
    /* font-size: 140px; */
    letter-spacing: 0rem;
    text-align: center;
}

h2,
.h2 {
    font-family: 'LarsExtended', Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 4.8rem;
    font-weight: 500;
    /* font: 500 3.5rem/4.8rem “LarsExtended”, Helvetica, Arial, sans-serif; */
    letter-spacing: 0rem;
    text-align: center;
}

h2.highlight-item__title-author {
    text-align: left;
}

h3,
.h3 {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 4.8rem;
    font-weight: 400;
    /* font: 400 3.5rem/4.8rem “Lars”, Helvetica, Arial, sans-serif; */
    letter-spacing: 0rem;
    text-align: center;
}

h4,
.h4 {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    line-height: 3.1rem;
    font-weight: 400;
    /* font: 400 2.2rem/3.1rem “Lars”, Helvetica, Arial, sans-serif; */
    text-align: center;
}

h5,
.h5 {
    font-family: 'Lars', Helvetica, Arial, sans-serif;
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 400;
    /* font: 400 3.5rem/4.8rem “Lars”, Helvetica, Arial, sans-serif; */
    text-align: center;
}

.section-title {
    display: block;
    margin-bottom: 40px;
}

a {
    color: black;
    text-decoration: none;
}

blockquote {}

strong {}

i {}