// Typography
// This is where you will control all the basic typography.
// You will find some stuff in reset scss too.
// If there are custom rules, I've put those css rules with the element/module/block where
// the custom rule applies.

@font-face {
    font-family: 'Lars';
    src: url("../../assets/fonts/Lars-Regular.otf") format("opentype"),
        url("../../assets/fonts/Lars-RegularWeb.woff") format("woff"),
        url("../../assets/fonts/Lars-RegularWeb.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lars';
    src: url('../../assets/fonts/Lars-RegularItalic.otf') format('opentype'),
        url('../../assets/fonts/Lars-RegularItalicWeb.woff') format('woff'),
        url('../../assets/fonts/Lars-RegularItalicWeb.woff') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'LarsExtended';
    src: url("../../assets/fonts/Lars-MediumExtended.otf") format("opentype"),
        url("../../assets/fonts/Lars-MediumExtendedWeb.woff") format("woff"),
        url("../../assets/fonts/Lars-MediumExtendedWeb.woff2") format("woff2");
    font-weight: 500;
    font-style: bold;
}


/*************************
*
* TYPOGRAPHY
*
*************************/



html {
  @media (min-width: 1025px) {
    font-size: 10px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 9.5px;
  }

  @media (max-width: 767px) {
    font-size: 9px;
  }
}


h1,
.h1 {
    font-family: $extended-font;
    @include Lars($h1-font-size, $h1-line-height);
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
}

h2,
.h2 {
    font-family: $extended-font;
    @include Lars($h2-font-size, $h2-line-height);
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
}

h2.highlight-item__title-author {
    text-align: left;
}

h3,
.h3 {
    font-family: $default-font;
    @include Lars($h3-font-size, $h3-line-height);
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
}

h4,
.h4 {
    font-family: $default-font;
    @include Lars($largeText-font-size, $largeText-line-height);
    font-weight: 400;
    text-align: center;
}

h5,
.h5 {
    font-family: $default-font;
    @include Lars($largeText-font-size, $largeText-line-height);
    font-weight: 400;
    text-align: center;
}

.content-container {
  @include largeText;
}


a {
    color: currentColor;
    text-decoration: none;
}

strong {
  font-weight: inherit;
}

blockquote {}

i {}
