// =========================================
// VARIABLES.SCC
//
//  All variables for the entire site
//  Fonts
//  Colors
//  Borders
//  Container sizes
//  anything else
// =========================================

//  All variables for the entire site


//  Fonts

$default-font: 'Lars', Helvetica, Arial, sans-serif;

//  Colors

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$greyTransparent: rgba(242,242,242,.9);
$hoverOpacity: 0.5;
$activeOpacity: 1;
$inactiveOpacity: 0.5;

// Borders

$border: 2px solid currentColor;
$thinBorder: 1px solid currentColor;

//  Container sizes

$default-container-width: 114rem;
$xl-container-width: 161rem;
$l-container-width: 114rem;
$s-container-width: 96rem;
$xs-container-width: 77rem;


//  anything else
