#poststuff .stuffbox>h3,
#poststuff h2,
#poststuff h3.hndle {
    background: black;
    color: white;
}

.acf-one-half .acf-input {
    width: 25% !important;
}

.acf-one-third .acf-input {
    width: 33% !important;
}