
// Main Large container

.container {
    max-width: $default-container-width;
    margin: 5.4rem auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

// News grid

.news-item {
  @media (min-width: 768px) {
    width: calc(50%);
  }

  @media (max-width: 767px) {
    width: calc(100%);
  }
}



.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.container-xs {
    max-width: 960px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1610px;
    margin: 36px auto;
}

.post-container,
.content-container {
    max-width: 770px;
    margin: 0 auto;
    padding-bottom: 80px;
}

// aligns all the products in a row of six
.product-display {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1076px;
}
