// Site padding

.site-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}


// Main containers

.container {
  max-width: $default-container-width;
  margin: 0 auto;
}

/* check if in use, if not delete! */
.container-xl {
  background: red;
  color: blue !important;
}

.container-l {
  max-width: $l-container-width;
  margin: 0 auto;
}

.container-s {
  max-width: $s-container-width;
  margin: 0 auto;
}

.content-container {
  max-width: $s-container-width;
  margin: 0 auto;
  padding-bottom: 8rem;
}


// Pages

.page {
  padding-top: 6rem;
}


// Grids

.grid,
.grid-container {
  display: grid;
}
.flex,
.flex-container {
  display: flex;
}

.flex-col {
  display: inline-flex;
  flex-direction: column;
}

.flex-container .col_left,
.flex-container .col_right {
  width: 50%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}


// Blocks

.page-title {
  display: block;
  margin-bottom: 8rem;
}
