// Main Large container
.container {
    max-width: $default-container-width;
    margin: 0 auto;
}

.container-xl {
    max-width: $xl-container-width;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 6rem;
}

.container-l {
    max-width: $l-container-width;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 6rem;
}

.container-s {
    max-width: $s-container-width;
    margin: 0 auto;
}

.container-xs,
.content-container {
    max-width: $xs-container-width;
    margin: 0 auto;
    padding-bottom: 8rem;
}

.post-container {
    max-width: $xs-container-width;
    margin: 0 auto 8rem;
}
.grid,
.grid-container {
    display: grid;
}
.flex,
.flex-container {
    display: flex;
}

.flex-col {
    display: inline-flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}


.container-books {
    margin-left: 27rem;
    width: 100%;
    max-width: 107.6rem;

    @media (min-width: 1441px) {
        margin-left: auto;
        margin-right: auto;
    }
}

// aligns all the products in a row of six
.book-grid,
.product-display {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.flex-container .col_left,
.flex-container .col_right {
    width: 50%;
}
